/* 内容 */
.Box{
    background-color: #fff;
    width: 1002px;
    position: relative;
    margin-left: 50%;
    left: -500px;
}

/* 左侧列表 */
.BLeft{
    position: fixed;
    width: 240px;
    float: left;
    border-left: rgb(226, 211, 211) solid 1px;
    border-right: rgb(226, 211, 211) solid 1px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: none;
    padding-bottom: 50px;
}
.BLeft:hover::-webkit-scrollbar-thumb{
    border: rgb(226, 211, 211) solid 1px;
}
.BLeft::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.BLeft::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
}
.BLeft::-webkit-scrollbar-track-piece{
    border-radius: 10px;
}

/* 歌单内容 */
.ALTitle{
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
}
.tri{
    width: 8px;
}
.AList{
    display: none;
    padding: 0;
}
.album{
    position: relative;
    list-style-type: none;
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.album:hover{
    background-color: rgb(245, 236, 236);
}
.album img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 5px;
}
.album span{
    position: absolute;
    font-size: 12px;
    left: 75px;
}
.albumName{
    top: 5px;
}
.musicNum{
    bottom: 5px;
}
/* 右侧信息 */
.BRight{
    width: 760px;
    float: right;
    border-right: rgb(226, 211, 211) solid 1px;
}

/* 歌单信息框 */
#listMsg{
    position: relative;
    width: 680px;
    height: 230px;
    padding: 40px;
    border-bottom: olivedrab;
    border-style: solid;
    border-width: 0 0 2px 0;
    background-color: #fff;
}
#imgBox{
    float: left;
    position: relative;
    margin: 0 -220px 0 0;
    margin-right: 30px;
}
#imgBox img{
    display: block;
    width: 200px;
    height: 200px;
}
#imgBox span{
    width: 208px;
    height: 208px;
    position: absolute;
    top: -4px;
    left: -4px;
    border: rgb(230, 219, 219) solid 1px;
    box-sizing: border-box;
}

/* 歌单信息列表 */
.cnt{
    display: block;
    width: auto;
    height: 200px;
}
.itemName{
    font-size: 20px;
    height: 24px;

}
.itemMsg{
    height: 35px;
    margin-top: 10px;
}
.itemMsg a img{
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.itemMsg a{
    text-decoration: none;
}
.itemMsg a span{
    text-align: center;
    line-height: 35px;
    color: blueviolet;
    font-size: 12px;
}
.itemMsg span{
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}

.btnList{
    height: 35px;
}
.btn{
    display: inline-block;
    margin-top: 20px;
    width: 60px;
    height: 30px;
    border-radius: 4px;
    border: #ccc solid 1px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    background-image: linear-gradient(to top, #f0e6e6, #f7f7f7);
}
.btn:hover{
    background-image: linear-gradient(to top, #e7d8d8, #f1e7e7);
}
.bottomLeftMsg{
    position: absolute;
    left: 30px;
    bottom: 10px;
}
.bottomLeftMsg span:nth-child(1){
    font-size: 20px;
}
.bottomLeftMsg span:nth-child(2){
    font-size: 12px;
    color: rgb(121, 117, 117);
    margin-left: 10px;
}
.bottomRightMsg{
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.bottomRightMsg span{
    font-size: 12px;
    color: rgb(121, 117, 117);
}
.bottomRightMsg span:nth-child(2){
    color: rgb(175, 39, 39);
}

/* 歌曲列表 */
.musicListBox{
    width: 760px;
    height: auto;
    border-right: #ccc solid 1px;
}
.musicListBoxTitle{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to top, #f3f3f3, #ffffff);
    border-bottom: rgb(211, 191, 191) solid 1px;
}
.musicListBoxTitleItem{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    padding-left: 10px;
    border-left: rgb(211, 191, 191) solid 1px;
    display: inline-block;
    box-sizing: border-box;
}
#item1{
    margin-left: 75px;
    width: 300px;
}
#item2{
    width: 110px;
}
#item3{
    width: 100px;
}
#item4{
    width: auto;
}

.musicList{
    position: relative;
    list-style-type: none;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
    padding-top: 5px;
}
.musicList:hover{
    height: 40px;
    padding-top: 10px;
}
.musicUL li:nth-child(even){
    background-color: #fff;
}
.musicUL li:nth-child(odd){
    background-color: #faf5f5;
}
.musicList span{
    font-size: 12px;
    position: absolute;
    line-height: 20px;
    text-align: center;
}
.span-num{
    left: 20px;
}
.play-icon{
    position: absolute;
    left: 45px;
    cursor: pointer;
    color: red;
}
.span-name{
    left: 85px;
}
.span-time{
    left: 390px;
}
.span-singer{
    left: 505px;
}
.span-album{
    left: 610px;
}
.spans:hover{
    text-decoration: underline;
    cursor: pointer;
}



/* 评论 */
#commentBox{
    background-color: #fff;
    width: 100%;
    position: relative;
    border-right: #ccc solid 1px;
    border-top: #ccc solid 0.5px;
    padding-bottom: 40px;
}
#myCommentBox{
    position: relative;
    width: 100%;
    height: 190px;
    top: 30px;
}
#title{
    width: 95%;
    height: 40px;
    padding-left: 5%;
    font-size: 20px;
    border-bottom: #c20c0c solid 2px;
    line-height: 40px;
}
#title span{
    font-size: 12px;
    color: #838383;
    margin-left: 30px;
}
.commentNum{
    margin-left: 0 !important;
}
#myCommentText{
    position: absolute;
    top: 60px;
    right: 5%;
    font-size: 14px;
    outline: none;
    border-color: #ccc;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    width:79%;
    height: 65px;
}
#myCommentCover{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 68px;
    left: 5%;
}
#commentLength{
    width: 55px;
    height: 20px;
    position: absolute;
    top: 145px;
    right: 11%;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    color: rgb(114, 114, 114);
}
#commentBtn{
    width: 45px;
    height: 20px;
    background-color: rgb(79, 79, 252);
    position: absolute;
    top: 145px;
    right: 5%;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
#commentBtn:hover{
    background-color: rgb(121, 121, 252);
}

.commentTitle{
    margin-left: 5%;
    width: 90%;
    height: 30px;
    font-size: 14px;
    font-weight: 900;
    line-height: 30px;
    border-bottom: #c20c0c solid 1px;
    margin-bottom: 10px;
}

/* 评论列表 */
.commentList{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
.commentItem{
    width: 100%;
    min-height: 70px;
    border-bottom: #ccc dashed 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.commentItem .itemLeft{
    width: 60px;
    height: 60px;
    float: left;
}
.commentItem .itemLeft img{
    width: 60px;
}
.commentItem .itemRight{
    width: 90%;
    min-height: 60px;
    margin-left: 10%;
}
.commentItem .itemRightTop{
    width: 100%;
    min-height: 44px;
    font-size: 13px;
    overflow: auto;
}
.commentItem .itemRightTop div{
    height: auto;
}
.commentItem .itemRightTop div a{
    color: blue;
    text-decoration: none;
}
.commentItem .itemRightTop div a:hover{
    text-decoration: underline;
}
.itemRightBottom{
    height: 16px;
    margin-top: 2px;
    font-size: 12px;
    margin-bottom: 0;
}
.commentItem .itemRightBottom .commentTime{
    float: left;
    color: rgb(114, 114, 114);
}
.commentItem .itemRightBottom .commentGrate{
    float: right;
}
.commentItem .itemRightBottom .commentGrate span{
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: rgb(114, 114, 114);
}
.commentItem .itemRightBottom .commentGrate div{
    float: right;
    background-color: rgb(79, 79, 255);
    color: #fff;
    width: 40px;
    height: 17px;
    text-align: center;
    font-size: 12px;
    line-height: 17px;
    border-radius: 3px;
    cursor: pointer;
}
.commentItem .itemRightBottom .commentGrate div:hover{
    background-color: rgb(101, 101, 255);
}