/* 内容 */
.Box{
	background-color: #fff;
	width: 1002px;
	position: relative;
	margin-left: 50%;
	left: -500px;
	margin-top: 20px;
}

/* 介绍信息 */

/* 图片 */
.BTop{
	width: 100%;
	height: 220px;
}
.BTLeft{
	float: left;
	margin-left: 90px;
	width: 210px;
	height: 210px;
}
.BTLeft img{
	margin: 30px;
	width: 150px;
	height: 150px;
	border-radius: 75px;
}
/* 信息 */
.BTRight{
	float: right;
	margin-right: 90px;
	width: 600px;
	height: 210px;
}
.spans{
	margin-left: 20px;
	margin-top: 10px;
}
.musicName{
	height: 40px;
	font-size: 28px;
	margin-left: 60px;
}
.singer{
	font-size: 14px;
}
.album{
	font-size: 14px;
}
.btnList{
	height: 40px;
	margin-left: 20px;
	margin-top: 15px;
}
.btn{
	display: inline-block;
	width: 60px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	line-height: 28px;
	margin-right: 10px;
	border: #ccc solid 1px;
	box-sizing: border-box;
	cursor: pointer;
	background-image: linear-gradient(to top, #f3eaea, #ffffff);
}
.btn:hover{
	background-image: linear-gradient(to top, #ebdbdb, #f7f0f0);
}
#play{
	background-image: linear-gradient(to top, #aa4fff, #9798ff);
	border: #fff solid 1px;;
	color: #fff;
}
#play:hover{
	background-image: linear-gradient(to top, #982aff, #8c8eff);
}
.btn a{
	color: black;
	text-decoration: none;
}

/* 底部播放 */
.BBot{
	width: 100%;
	height: 130px;
	background-color:rgb(66, 66, 66);
}
.mImg{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 50px;
	margin-top: 15px;
}
.dv{
	height: 40px;
	color: #fff;
	line-height: 40px;
}
.mName{
	font-size: 24px;
}
.mBtn{
	margin-top: 10px;
}
.mBtn i{
	cursor: pointer;
	width: 30px;
}
.mBtn i:hover{
	text-shadow: 1px 1px 1px rgb(197, 173, 173);
}
.playBtn{
	font-size: 26px !important;
	margin-right: 20px;
}
.star{
	font-size: 22px !important;
}
.love{
	font-size: 22px !important;
	margin-left: 40px;
}
.voiceBox{
	display: inline-block;
	height: 40px;
	width: 400px;
	position: relative;
}
.voice{
	margin-left: 10px;
	font-size: 20px !important;
}

/* 进度条 */
.time{
	display: inline-block;
	width: 700px;
	height: 7px;
	background-color: rgb(157, 157, 170);
	margin-top: 20px;
	cursor: pointer;
	border-radius: 4px;
	position: relative;
}
.length{
	width: 0;
	height: 7px;
	background-color: rgb(255, 43, 43);
	cursor: pointer;
	border-radius: 4px;
}
.doc{
	position: absolute;
	left: -6px;
	top: -7px;
	font-size: 20px !important;
	color: #fff;
}
.doc:hover{
	text-shadow: 1px 1px 1px lightgray
}
.unSelect{
	-moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.nowTime{
	margin-left: 10px;
	color: rgb(231, 210, 210);
}
.allTime{
	color: rgb(196, 164, 164);
}

/* 音量条 */
.soud{
	display: inline-block;
	width: 150px;
	height: 4px;
	background-color: rgb(157, 157, 170);
	cursor: pointer;
	border-radius: 3px;
	position: absolute;
	top: 18px;
	left: 35px;
}
.soudLength{
	width: 0;
	height: 4px;
	background-color: rgb(120, 120, 253);
	cursor: pointer;
	border-radius: 3px;
}
.doc1{
	position: absolute;
	left: -6px;
	top: -6px;
	color: rgb(181, 181, 238);
}
.doc1:hover{
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px lightgray;
}


/* 评论 */
#commentBox{
	background-color: #fff;
	width: 1002px;
	position: relative;
	margin-left: 50%;
	padding: 10px 0 40px 0;
	left: -500px;
	top: 15px;
}
#myCommentBox{
	position: relative;
	width: 100%;
	height: 170px;
}
#title{
	width: 95%;
	height: 40px;
	padding-left: 5%;
	font-size: 20px;
	border-bottom: #c20c0c solid 2px;
	line-height: 40px;
}
#title span{
	font-size: 12px;
	color: #838383;
	margin-left: 30px;
}
.commentNum{
	margin-left: 0 !important;
}
#myCommentText{
	position: absolute;
	top: 60px;
	right: 5%;
	font-size: 14px;
	outline: none;
	border-color: #ccc;
	border-radius: 5px;
	padding: 5px;
	resize: none;
	width:81%;
	height: 65px;
}
#myCommentCover{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 68px;
	left: 5%;
}
#commentLength{
	width: 55px;
	height: 20px;
	position: absolute;
	top: 145px;
	right: 11%;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	color: rgb(114, 114, 114);
}
#commentBtn{
	width: 45px;
	height: 20px;
	background-image: linear-gradient(to top, #945cc9, #8b8ce9);
	position: absolute;
	top: 145px;
	right: 5%;
	font-size: 13px;
	text-align: center;
	line-height: 20px;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
#commentBtn:hover{
	background-image: linear-gradient(to top, #a575d1, #9fa0ee);
}

.commentTitle{
	margin-left: 5%;
	width: 90%;
	height: 30px;
	font-size: 14px;
	font-weight: 900;
	line-height: 30px;
	border-bottom: #c20c0c solid 1px;
	margin-bottom: 10px;
}

/* 评论列表 */
.commentList{
	width: 90%;
	height: auto;
	margin-left: 5%;
}
.commentItem{
	width: 100%;
	min-height: 70px;
	border-bottom: #ccc dashed 1px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.commentItem .itemLeft{
	width: 60px;
	height: 60px;
	float: left;
}
.commentItem .itemLeft img{
	width: 60px;
}
.commentItem .itemRight{
	width: 92%;
	min-height: 60px;
	margin-left: 8%;
}
.commentItem .itemRightTop{
	width: 100%;
	min-height: 44px;
	font-size: 13px;
	overflow: auto;
}
.commentItem .itemRightTop div{
	height: auto;
}

.itemRightBottom{
	height: 16px;
	margin-top: 2px;
	font-size: 12px;
	margin-bottom: 0;
}
.commentItem .itemRightBottom .commentTime{
	float: left;
	color: rgb(114, 114, 114);
}
.commentItem .itemRightBottom .commentGrate{
	float: right;
}
.commentItem .itemRightBottom .commentGrate span{
	float: right;
	margin-right: 10px;
	font-size: 12px;
	color: rgb(114, 114, 114);
}
.commentItem .itemRightBottom .commentGrate div{
	float: right;
	background-image: linear-gradient(to top, #ad5cff, #9798ff);
	color: #fff;
	width: 40px;
	height: 17px;
	text-align: center;
	font-size: 12px;
	line-height: 17px;
	border-radius: 3px;
	cursor: pointer;
}
.commentItem .itemRightBottom .commentGrate div:hover{
	background-image: linear-gradient(to top, #bc79ff, #acadff);
}