#searchMusic_cnts{
    width: 1000px;
    height: 520px;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 20px;
    padding-top: 30px;
}
        /* 
        分类 
        */
#searchTitle{
    width: 930px;
    height: 50px;
    margin-left: 30px;
    border: rgb(230, 221, 238) solid 1px;
    overflow: hidden;
}
#searchTitle div{
    width: 930px;
    height: 30px;
    margin-top: 10px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 30px;
}
#searchTitle div span{
    color: red;
    font-weight: 900;
    font-size: 20px;
    margin-right: 10px;
}
        /* 
        列表 
        */
.music_block{
    width: 1000px;
    height: 450px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
}
.music_block .music_block_cns{
    width: 900px;
    height: 420px;
    margin-left: 30px;
    padding-left: 30px;
    border: rgb(230, 221, 238) solid 1px;
    border-top-width: 0px;
    position: relative;
}
.music_block .music_block_cns #music_block_page{
    width: 140px;
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: -40px;
}
.music_block .music_block_cns #music_block_page div{
    height: 25px;
    width: 60px;
    font-size: 6px;
    float: left;
    text-align: center;
    line-height: 25px;
    margin-left: 5px;
    border: rgb(230, 221, 238) solid 1px;
    border-radius: 3px;
}
.music_block .music_block_cns #music_block_page div:hover{
    background-color: #04a219;
    color: #fff;
    cursor: pointer;
}
.music_block .music_block_cns .music_item{
    width: 150px;
    height: 170px;
    display: block;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.music_block .music_block_cns .music_item img:hover{
    box-sizing: border-box;
    border: #04a219 solid 2px;
    cursor: pointer;
}
.music_block .music_block_cns .music_item img{
    max-width: 148px;
    max-height: 148px;
}
.music_block .music_block_cns .music_item div{
    width: 100px;
    height: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: #5b5b5b;
}

