<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
</head>
<body>
<img src="/musicCover/m1.jpeg" width="100px">
<h5>登录</h5>
<form id="adminLogin">
    <span>帐号：</span>   <input type="text" name="accounts"><br>
    <span>密码：</span>  <input type="password" name="password"><br>
    <input type="button"  id="login" value="登录"><br>
</form>
<p id="loginMsg"></p>

<h5>注册</h5>
<form id="adminRegist">
    <span>帐号：</span>   <input type="text" name="accounts"><br>
    <span>密码：</span>  <input type="password" name="password"><br>
    <input type="button"  id="regist" value="注册"><br>
</form>
<p id="registMsg"></p>

<h5>修改密码</h5>
<form id="updatePassword">
    <span>帐号：</span>   <input type="text" name="accounts"><br>
    <span>密码：</span>  <input type="password" name="password"><br>
    <input type="button"  id="update" value="更改"><br>
</form>
<p id="updateMsg"></p>

<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
</body>
</html>