<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<img id="userCover" width="100">
<span id="userMsg"></span>

<h5>登出</h5>
<input type="button" id="userLogout" value="登出" onclick="userLogout()">
<p id="userLogoutMsg"></p>

<a href="/userLogin">登录</a>

<br>
<a href="/message">个人信息</a>

<script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>