<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>音乐网站</title>
    <link rel="stylesheet" type="text/css" href="/css/index_index.css">
</head>
<body>
<div id="index_index">
    <div id="index_cns1">
        <div id="index_cns1_left">
            <div id="gonggaobiaoti">新闻公告</div>
            <div class="gonggao">测试系统公告</div>
            <div class="gonggao">发布测试公告</div>
        </div>
        <div id="index_cns1_right">
            <ul class="lunbotu">
                <li><a href=""><img src="../img/lunbotu1.jpg" alt=""></a></li>
                <li><a href=""><img src="../img/lunbotu2.jpg" alt=""></a></li>
            </ul>
            <ul class="lunbo_page">
                <li>1</li>
                <li>2</li>
            </ul>
        </div>
    </div>
</div>
<div class="index_block" id="index_music">
    <div class="index_block_title">音乐</div>
    <div class="index_block_cns" id="index_block_cns_music">

    </div>
</div>
<div class="index_block" id="index_musicInfo">
    <div class="index_block_title">音乐资讯</div>
    <div class="index_block_cns">
        <div class="index_item" >
            <img src="../img/xianzi.png">
            <div>醉清风</div>
        </div>

    </div>
</div>
<div class="index_block" id="index_singor">
    <div class="index_block_title">热门歌手</div>
    <div class="index_block_cns">
        <div class="index_item">
            <img src="../img/xianzi.png">
            <div>醉清风</div>
        </div>
    </div>
</div>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/index2.js"></script>
<script src="/js/index_index.js"></script>
</body>
</html>