<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>音乐网站</title>
    <link rel="stylesheet" type="text/css" href="/css/index_index.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    
    <div id="index_cnts_home" class="index_cnts" style="display: block;">
        <div class="index_block" id="index_music">
            <div class="home_block_title">在线空间</div>
            <div class="home_block_cns">
                <div class="index_item">
                    <img src="../img/xianzi.png">
                    <div>醉清风</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>