<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>音乐网站</title>
    <link rel="stylesheet" type="text/css" href="/css/index_album.css">
</head>
<body>
    <div id="index_cnts_issue" class="index_cnts">
        <div class="index_block" id="recommendAlbumBox">
            <div class="index_block_title">推荐专辑</div>
            <div class="index_block_cns" id="index_recommendAlbum">

            </div>
        </div>
        <div class="index_block"  id="allAlbumBox">
            <div class="index_block_title">全部专辑</div>
            <div class="index_block_cns">
                <div id="index_allAlbum"></div>
                <div id="album_block_page">
                    <div class="album_block_page_btn" id="lastPage">上一页</div>
                    <div class="album_block_page_btn" id="nextPage">下一页</div>
                </div>
            </div>
        </div>
    </div>
    <div id="issueClass" style="display: none">
        <div>专辑</div>
        <ul>
            <li>古典音乐</li>
            <li>流行音乐</li>
            <li>轻唱民歌</li>
            <li>寂静音乐</li>
            <li>悲伤音乐</li>
            <li>经典民歌</li>
            <li>情歌对唱</li>
        </ul>
    </div>
</body>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/index_album.js"></script>
</html>