<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/index_index.css">
    <link rel="stylesheet" type="text/css" href="/css/index_singer.css">
</head>
<body>
    <div id="index_cnts_singer" class="index_cnts" style="display: block;">
        
        <div id="index_musicBlock">
            <div id="alphabetList">
                <div class="alphabet" id="alphabetAll">全部</div>
                <div class="alphabet" id="A">A</div><div class="alphabet" id="B">B</div><div class="alphabet" id="C">C</div>
                <div class="alphabet" id="D">D</div><div class="alphabet" id="E">E</div><div class="alphabet" id="F">F</div>
                <div class="alphabet" id="G">G</div><div class="alphabet" id="H">H</div><div class="alphabet" id="I">I</div>
                <div class="alphabet" id="J">J</div><div class="alphabet" id="K">K</div><div class="alphabet" id="L">L</div>
                <div class="alphabet" id="M">M</div><div class="alphabet" id="N">N</div><div class="alphabet" id="O">O</div>
                <div class="alphabet" id="P">P</div><div class="alphabet" id="Q">Q</div><div class="alphabet" id="R">R</div>
                <div class="alphabet" id="S">S</div><div class="alphabet" id="T">T</div><div class="alphabet" id="U">U</div>
                <div class="alphabet" id="V">V</div><div class="alphabet" id="W">W</div><div class="alphabet" id="X">X</div>
                <div class="alphabet" id="Y">Y</div><div class="alphabet" id="Z">Z</div>
            </div>

            <div class="index_block_title">歌手</div>
            <div class="index_block_cns" id="indexSingerBlock"></div>
            <div id="pageBtnBox">
                <div class="pageBtn" id="nextPage">下一页</div>
                <div class="pageBtn" id="prePage">上一页</div>
            </div>
        </div>
    </div>
</body>
<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/index_singer.js"></script>
</html>