<!DOCTYPE html>
<html lang="zh">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>音乐网站</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/index_home.css">
    <link rel="stylesheet" type="text/css" href="/css/css/font-awesome.css">
</head>
<body>
    <div id="head2">
        <div id="head2-contain">
            <div id="head2-contain-left">音乐共享网站</div>
            <div id="head2-contain-right">
                <i class="fa fa-search"></i>
                <input type="text" id="head2-contain-right-text" placeholder="醉清风">
                <div id="head2-btn">搜索</div>
            </div>
        </div>
    </div>
    <div id="guider1">
        <div class="guider2">
            <div class="guide g" id="index_index" >首页</div>
            <div class="guide g" id="index_music" >在线音乐</div>
            <div class="guide g" id="index_singer" >歌手</div>
            <div class="guide g" id="index_album" >音乐专辑</div>
            <div class="guide" id="index_home" >在线空间</div>
        </div>
    </div>

    <iframe name="my-iframe" id="my-iframe" th:src="${indexPath}" frameborder="0" scrolling="no" width="100%" height="1900px"></iframe>


    
    

</body>

<script src="/js/jquery-3.4.1.js"></script>
<script src="/js/public.js"></script>
<script src="/js/index2.js"></script>
<script th:inline="javascript">
    let myPath = [[${indexPath}]];
</script>
<script>
    <!--导航栏-->
    $(".g").click(function () {
        let id=this.id;
        guideClick(id);
    });
    $("#index_home").click(function () {
        window.location.href="/index/otherHome";
    });
    let toGetUserMessage=true;
    if(toGetUserMessage)
        getUserMsg(true);
</script>
</html>