<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.music.cloundmusic.dao.CommentMapper">

    <resultMap id="commentMap" type="Comment">
        <id column="commentid" property="commentid"/>
        <result column="text" property="text" />
        <result column="likes" property="likes"/>
        <result column="createtime" property="createtime"/>
        <association property="user" javaType="User">
            <id column="userid" property="userid"/>
            <result column="name" property="name"/>
            <result column="cover" property="cover"/>
        </association>
    </resultMap>

    <select id="getComment" parameterType="string" resultMap="commentMap">
        select comment.commentid,comment.text,comment.likes,comment.createtime,user.userid,user.name,user.cover
        from comment join user on comment.userid=user.userid and comment.keyid=#{keyid} and comment.type=#{type} order by ${types} DESC limit 7
    </select>

    <insert id="setComment" parameterType="Comment" keyProperty="commentid" useGeneratedKeys="true">
        insert into comment(userid, keyid, type, text, createtime) values (#{userid},#{keyid},#{type},#{text},#{createtime});
    </insert>

    <update id="addLikes" parameterType="int">
        update `comment` set likes = likes + 1 where commentid = #{commentId}
    </update>
</mapper>